<!--Rodapé-->    
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Recreio</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum explicabo debitis laborum facere dolore. Accusantium magnam aspernatur reiciendis vel consectetur adipisci, iusto quibusdam aut mollitia, recusandae blanditiis? Aliquid, ea est.dfgdfgdfgggggggggdforem ipsum dolor sit amet consectetur adipisicing elit. Ipsum explicabo debitis laborum facere dolore.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Contato</h6>
          <ul class="footer-links">
            <li><a href="">11 95323-2378</a></li>
            <li><a href="">R. Recreio 02 - Quatorze</a></li>
            <li><a href="">recreio_org@abraco.com</a></li>
            <li><a href="">@Recreio_Abraco</a></li>
          
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Sobre Nos</h6>
          <ul class="footer-links">
            <li><a href="">Home</a></li>
            <li><a href="">Loja</a></li>
            <li><a href="">Sobre Nós</a></li>
            <li><a href="">Contatos</a></li>
            <li><a href="">Cadastro</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 Todos os direitos reservados
       <a href="#">Recreio</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="whatsapp" href="https://web.whatsapp.com/"><i class="fa fa-whatsapp"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-instagram"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>


<!--/Rodapé-->