<!--Tela de Login-->
<br>
<br>

<main>
    <article class="main-container">
      <div class="login-wrapper">

        <section class="image-wrapper"> 
        </section>

        <section class="form-wrapper">
          <div class="form-container align-items-center">
           
            <div class="form-messages">
                <br>
                <br>    
              <h1 id="alinhador">Login</h1>
            </div>
            <br>
            <br>
            <br>
             <form  action="fakeurl.php" class="form ">
              <input [(ngModel)]='userLogin.email' type="email" name="user-email" id="user-email" placeholder="E-mail">
              <input [(ngModel)]='userLogin.senha' type="password" name="user-password" id="user-password" placeholder="Senha">
              <button type="submit" class="login-button" (click)='entrar()'>Entrar</button>
            </form>
            <p> Não tem uma conta? <a routerLink='/cadastro'>Cadastre-se</a></p>
          </div>
        </section>
  
        <!-- Imagem -->
        
      </div>
    </article>
  </main>

  <!--Tela de Login-->