.jumbotron{
    background-image: url(https://i.imgur.com/ZwgKZxd.png);
    background-repeat: round;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;       
}

.jumbotronText {
    position: absolute;
    color: #3D3D3D;
    text-align: justify;
    top: 10%;
    left: 20%;
}

.jumbotronText h2{
    font-size: 3.5vw;   
}

.jumbotronText h2:hover{
    color: #f2b035;
        
}

.jumbotronText h3 {
    font-size: 1.5vw;
}

.jumbotron:hover {
    color: #f2b035;
    background-image: url(https://i.imgur.com/kdzMWnv.png);    
}

.botaoCardsPrev{
    background-color: red;
    width: 5vh;
    height: 5vh;
    top: 50%;
    position: absolute;
}

.botaoCardsNext{
    background-color: red;
    width: 5vh;
    height: 5vh;
    top: 50%;
    position: absolute;
}

.btnVermais{
    background-color: white;
    color: black;
    border: 2px solid #fdfdfd;
    font-size: 25px;
    border-radius: 40px;
}

.btnVermais:hover{
    background-color: #005186;
    color: white;
}

.hrPontilhado{
    border:  2px dashed #C1DFF2;
    width: 70%;
}

.hrMenor{
    background-color: black;
    height: 1px;
    width: 45%;
    opacity: 30%;
}

.h2OqueFazemos{
    color: #65ACD8;
    font-family: Century Gothic;
}

.oQueFazemos{
    color: #005186;
    font-family: Century Gothic;
}

.texto-esquerda{
    text-align: left;
}

.margem{
    margin-left: 10%;
    margin-right: 10%;
}

.texto-direita{
    text-align: justify;
}

.imagemParceiros{
    background-image: url(https://i.imgur.com/cFyuOd5.jpg);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 50%;
}

.tamanhoCard{
    width: 250px;
}